<div class="alain-default__content-title">
  <h1>
    可编辑表格
    <small>Welcome !</small>
  </h1>
</div>

<div nz-row>

  <nz-table #editRowTable [nzData]="listOfData" nzShowPagination='false'>
    <thead>
    <tr>
      <th nzWidth="25%">序号</th>
      <th nzWidth="15%"><label class="labelRequired">涉及部门</label></th>
      <th nzWidth="40%"><label class="labelRequired">事项名称</label></th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody [formGroup]="validateForm">
    <tr *ngFor="let data of editRowTable.data;let i = index">
      <td>
        <nz-form-item>
          <nz-form-control>
            <ng-container>
              {{i}}
            </ng-container>
          </nz-form-control>
        </nz-form-item>
      </td>

      <td>
        <nz-form-item>
          <nz-form-control>
            <nz-select style="width: 100%"  [compareWith]="compareFn" [formControlName]="data.id+'dept'" [(ngModel)]="editCache[data.id].data.dept" (ngModelChange)="deptChange($event)" nzAllowClear nzPlaceHolder="请选择涉及部门" [nzDisabled]="!editCache[data.id].edit">
              <nz-option *ngFor="let option of testData" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
<!--              <nz-option nzValue="01" nzLabel="公安局"></nz-option>-->
<!--              <nz-option nzValue="02" nzLabel="税务局"></nz-option>-->
<!--              <nz-option nzValue="03" nzLabel="住建局"></nz-option>-->
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get(data.id+'dept').dirty && validateForm.get(data.id+'dept').errors">
              <ng-container *ngIf="validateForm.get(data.id+'dept').hasError('required')">
                请填写涉及部门!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </td>

      <td>
        <nz-form-item>
          <nz-form-control>
            <nz-select style="width: 100%" [formControlName]="data.id+'name'" [(ngModel)]="editCache[data.id].data.name" nzAllowClear nzPlaceHolder="请选择事项" [nzDisabled]="!editCache[data.id].edit">
              <nz-option nzValue="01" nzLabel="事项111"></nz-option>
              <nz-option nzValue="02" nzLabel="事项222"></nz-option>
              <nz-option nzValue="03" nzLabel="事项333"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get(data.id+'name').dirty && validateForm.get(data.id+'name').errors">
              <ng-container *ngIf="validateForm.get(data.id+'name').hasError('required')">
                请填事项名称!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </td>

      <td>
        <nz-form-item>
          <nz-form-control>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
                <a (click)="startEdit(data.id)">编辑</a> &nbsp; &nbsp;
                <a (click)="deleteRow(data.id)">删除</a>
              </ng-container>
              <ng-template #saveTpl>
                <a (click)="saveEdit(data.id)">保存</a> &nbsp; &nbsp;
                <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
              </ng-template>
            </div>
          </nz-form-control>
        </nz-form-item>
      </td>

    </tr>
    </tbody>
  </nz-table>
  <button nz-button nzType="dashed" nzBlock (click)="addRow()">
    <i nz-icon type="plus"></i>
    <span>新增事项</span>
  </button>
  <button nz-button nzType="dashed" nzBlock (click)="save()"> 提交</button>

  <form>
    <thead>
    <tr>
      <th>1</th>
      <th>2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <th>2</th>
    </tr>
    </tbody>
    <tbody>
    <tr>
      <th>3</th>
      <th>4</th>
    </tr>
    </tbody>
  </form>

</div>
